<section class="container-md mt-5">
    <h2 class="fw-bold text-center">Browse the Range</h2>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur.</p>

    <div class="row mt-5">
        <div class="col-4">
            <div class="card">
                <img src="../../../../assets/home/dining.jpg" alt="Dining" class="card-img-top">
                <div class="card-body">
                    <p class="text-center fw-bold">Dining</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="../../../../assets/home/living.jpg" alt="Living" class="card-img-top">
                <div class="card-body">
                    <p class="text-center fw-bold">Living</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="../../../../assets/home/bedroom.jpg" alt="Bedroom" class="card-img-top">
                <div class="card-body">
                    <p class="text-center fw-bold">Bedroom</p>
                </div>

            </div>
        </div>
    </div>
</section>