<h2 class="text-primary fw-bold mt-3">Furnitures</h2>

<p class="my-1 fs-5 text-ligth-gray">Welcome to your manager panel of Funiro Ecommerce.</p>

<div class="d-flex justify-content-start mt-4">
    <shared-component-searcher (onEmit)="onGetFurnituresByQuery($event)"></shared-component-searcher>
</div>


<dashboard-furnitures-table-furnitures-component
    [furnitures]="furnitures"></dashboard-furnitures-table-furnitures-component>

<shared-component-pagination [pagesNumber]="pagesNumber"
    (changedPage)="onGetFurnitures($event)"></shared-component-pagination>

<div class="d-flex justify-content-end">
    <button class="btn btn-primary py-2 px-4 fw-bold text-white" routerLink="add">Add Furniture</button>
</div>