<main-component-hero-image [pageName]="'Contact'"></main-component-hero-image>

<div class="container-md p-md-5 p-3 mb-5">

    <h2 class="fw-bold fs-5 text-center mt-4 mt-md-0">Get In Touch With Us</h2>
    <p class="text-gray text-center mt-2 w-md-75 mx-auto">For More Information About Our Product & Services. Please Feel
        Free To Drop Us
        An Email. Our Staff Always Be There To Help You Out. Do Not Hesitate!</p>

    <div class="row mt-md-5 mt-3 p-3">

        <div class="col-md-6 col-12">
            <div class="d-flex flex-column  ps-md-5 gap-4">
                <div class="d-flex align-items-start gap-4">
                    <img src="../../../../assets/icons/address.svg" alt="Address">

                    <div>
                        <h3 class="fw-bold">Address</h3>
                        <p class="text-gray w-md-50">236 5th SE Avenue, New York NY10000, United States</p>
                    </div>
                </div>
                <div class="d-flex align-items-start gap-4">
                    <img src="../../../../assets/icons/phone.svg" alt="Phone">

                    <div>
                        <h3 class="fw-bold">Phone</h3>
                        <p class="text-gray w-md-50">
                            Mobile: +(84) 546-6789
                            Hotline: +(84) 456-6789
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-start gap-4">
                    <img src="../../../../assets/icons/clock.svg" alt="Clock">

                    <div>
                        <h3 class="fw-bold">Working Time</h3>
                        <p class="text-gray w-md-50">Monday-Friday: 9:00 - 22:00
                            Saturday-Sunday: 9:00 - 21:00</p>
                    </div>
                </div>
            </div>

        </div>

        <form class="col-md-6 col-12 mt-4 mt-md-0">

            <div class="mb-3">
                <label class="fw-bold" for="name">Your name</label>
                <input class="mt-2 w-100 text-gray p-3" type="text" id="name" placeholder="Abc">
            </div>

            <div class="mb-3">
                <label class="fw-bold" for="email">Email address</label>
                <input class="mt-2 w-100 text-gray p-3" type="email" id="email" placeholder="Abc@def.com">
            </div>

            <div class="mb-3">
                <label class="fw-bold" for="subject">Subject</label>
                <input class="mt-2 w-100 text-gray p-3" type="text" id="subject" placeholder="This is an optional">
            </div>
            <div class="mb-3">
                <label class="fw-bold" for="message">Message</label>
                <textarea id="message" class="w-100 text-gray mt-2 p-4" placeholder="Hi! i’d like to ask about"></textarea>
            </div>

            <div class="justify-content-start">
                <input type="submit" value="Submit" class="btn btn-primary text-white">
            </div>

        </form>



    </div>
</div>

<main-component-banner-support></main-component-banner-support>