<form>

    <div class="mb-3">
        <label class="fw-bold" for="name">Your name</label>
        <input class="mt-2 w-100 text-gray p-3" type="text" id="name" placeholder="Abc">
    </div>

    <div class="mb-3">
        <label class="fw-bold" for="email">Email address</label>
        <input class="mt-2 w-100 text-gray p-3" type="email" id="email" placeholder="Abc@def.com">
    </div>

    <div class="mb-3">
        <label class="fw-bold" for="subject">Subject</label>
        <input class="mt-2 w-100 text-gray p-3" type="text" id="subject" placeholder="This is an optional">
    </div>
    <div class="mb-3">
        <label class="fw-bold" for="message">Message</label>
        <textarea id="message" class="w-100 text-gray mt-2 p-4" placeholder="Hi! i’d like to ask about"></textarea>
    </div>

    <div class="justify-content-start">
        <input type="submit" value="Submit" class="btn btn-primary text-white">
    </div>

</form>