<div class="modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-y modal-md">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <h1 class="text-primary fw-bold fs-4">Write a Review</h1>
                    <p class="text-gray fw-bold fs-6">Share your thoughts about this product with other customers.</p>
                </div>

                <form [formGroup]="form" (ngSubmit)="submitRequest()">

                    <div class="mb-2">
                        <label for="name" class="mb-1 text-gray">Your Name</label>
                        <input name="name" type="text" readonly class="form-control disable" formControlName="name"/>
                    </div>

                    <div class="mb-2">
                        <label for="rating" class="mb-1 text-gray">Rating</label>
                        <div class="d-flex align-items-center gap-1" *ngIf="!review || (wasClickedStar | async)">
                            <img src="../../../../../../assets/icons/star-disable.svg" alt="Star" id="1" select-star (onEmitIdStar)="setRating($event)">
                            <img src="../../../../../../assets/icons/star-disable.svg" alt="Star" id="2" select-star (onEmitIdStar)="setRating($event)" >
                            <img src="../../../../../../assets/icons/star-disable.svg" alt="Star" id="3" select-star (onEmitIdStar)="setRating($event)">
                            <img src="../../../../../../assets/icons/star-disable.svg" alt="Star" id="4" select-star (onEmitIdStar)="setRating($event)">
                            <img src="../../../../../../assets/icons/star-disable.svg" alt="Star" id="5" select-star (onEmitIdStar)="setRating($event)">
                        </div>
                        <div class="d-flex align-items-center gap-1" *ngIf="review && !(wasClickedStar | async)">
                            <ng-container *ngFor="let star of stars">
                                <img src="../../../../../../assets/icons/star.svg" alt="Star" (mouseover)="enableRatingStars()">
                            </ng-container>
                            
                        </div>
        
                    </div>

                    <div class="mb-2">
                        <label for="title" class="mb-1 text-gray">Review Title</label>
                        <input name="title" type="text" class="form-control" formControlName="title" />
                    </div>

                    <ng-container *ngIf="mustShowError('title')">
                        <p class="form-text text-danger fw-bold" *ngFor="let message of getMessageErrors('title')">
                            {{message}}!
                        </p>
                    </ng-container>

                    <div class="mb-4">
                        <label for="comment" class="mb-1 text-gray">Your Review</label>
                        <textarea class="form-control" name="comment" formControlName="comment"></textarea>
                    </div>

                    <ng-container *ngIf="mustShowError('comment')">
                        <p class="form-text text-danger fw-bold" *ngFor="let message of getMessageErrors('comment')">
                            {{message}}!
                        </p>
                    </ng-container>

                    <div class="d-flex justify-content-end ">
                        <button [disabled]="form.invalid" type="submit" class="btn btn-primary fw-bold text-secondary">
                            Submit Review
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>