.bg-white {
    position: absolute;
    right: 0;
    width: 350px;
    overflow: scroll;
}

img {
    width: 100px;
    height: 100px;
}

.list-group {
    width: 400px;
}

.h-custom {
    height: 330px;
}