<main-component-navbar></main-component-navbar>

<router-outlet></router-outlet>

<main-component-footer></main-component-footer>

<main-component-button-scroll-up></main-component-button-scroll-up>

<main-component-shopping-car *ngIf="mustShowShoppingCarComponent"></main-component-shopping-car>

<main-component-snackbar *ngIf="mustShowSnackbarComponent"></main-component-snackbar>

<main-component-modal *ngIf="mustShowModalCustomerComponent"></main-component-modal>

<main-component-purchase-list *ngIf="isMobile && mustShowPurchasedFurnituresListComponent"></main-component-purchase-list>

<main-component-favorites-list *ngIf="mustShowFavoriteList && isMobile"></main-component-favorites-list>