<div class="d-flex justify-content-between">
    <h3 class="fw-bold fs-4">Product</h3>
    <h3 class="fw-bold fs-4">Subtotal</h3>
</div>
<div class="d-flex justify-content-between" *ngFor="let furniture of furnituresToBuy">

    <div class="">
        <span class="text-light-gray me-2">{{furniture.furniture.name | titlecase}}</span> <span class="fw-bold"> x
            {{furniture.quantity}}</span>
    </div>

    <div>

        <p [ngClass]="{'text-decoration-line-through mb-1':furniture.furniture.discount}">
            Rs. {{furniture.furniture.price * furniture.quantity | currency:'USD':'symbol-narrow':'1.2-2'}}
        </p>

        <p *ngIf="furniture.furniture.discount">
            Rs. {{(furniture.furniture.price - furniture.furniture.discount) * furniture.quantity |
            currency:'USD':'symbol-narrow':'1.2-2'}}
        </p>

    </div>

</div>
<div class="d-flex justify-content-between">
    <p>Subtotal</p>

    <p class="text-decoration-line-through">
        Rs. {{subtotal | currency:'USD':'symbol-narrow':'1.2-2'}}
    </p>
</div>
<div class="d-flex justify-content-between border-bottom">
    <p>Total</p>

    <p class="text-primary fs-4 fw-bold">
        Rs. {{total | currency:'USD':'symbol-narrow':'1.2-2'}}
    </p>
</div>

<p class="mt-4">
    Your personal data will be used to support your experience throughout this website, to manage access to
    your account, and for other purposes described in our <span class="fw-bold">privacy policy.</span>
</p>

<div class="text-center mt-4" [ngClass]="{'disabled':mustDisableButton ,'pointer':!mustDisableButton }">
    <button class="btn border-primary px-5 py-2 text-primary" [disabled]="mustDisableButton">Place order</button>
</div>