.bg-white {

    position: absolute;
    overflow-y: scroll;

    @media(max-width: 768px) {
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;

    }

    @media(min-width:768px) {
        right: 0;
        width: 350px;

    }


}

h3 {
    text-align: center;

    @media (min-width:768px) {
        text-align: start;
    }
}

img {
    width: 100px;
    height: 100px;
}


.list-group {
    width: 400px;
}

.h-custom {
    height: 330px;
}

.custom-fs {
    font-size: 14px;
}

.badge {
    cursor: default;
}

.btn-view-status {
    font-size: 12px;
    align-self: flex-start;
}