.bg-white {
    position: absolute;
    right: 0;
    width: 350px;
    overflow-y: scroll;
}

img {
    width: 100px;
    height: 100px;
}


.list-group {
    width: 400px;
}

.h-custom {
    height: 330px;
}

.custom-fs {
    font-size: 14px;
}

.badge {
    cursor: default;
}

.btn-view-status {
    font-size: 12px;
    align-self: flex-start;
}