<main-component-header-home></main-component-header-home>

<main-component-browse-range></main-component-browse-range>

<main class="container-xxl">
    <h1 class="fw-bold text-center main-title">Our Products</h1>

    <main-component-our-products></main-component-our-products>

    <div class="text-center my-4">
        <button class="btn-white btn-white--border text-primary px-5 py-2 fw-bold" routerLink="/shop">Show More</button>
    </div>

</main>

<div class="bg-secondary p-4 p-md-5 pe-md-0">
    <div class="d-flex flex-column flex-lg-row gap-5 gap-lg-0">
        <div class="d-flex flex-column justify-content-center">
            <h2 class="fw-bold fs-3">50+ Beautiful rooms inspiration</h2>
            <p>Our designer already made a lot of beautiful prototipe of rooms that inspire you</p>

            <div class="text-start mt-3">
                <button class="btn btn-primary fw-bold text-white" routerLink="/shop">Explore More</button>
            </div>
        </div>

        <main-component-carrousel></main-component-carrousel>


    </div>
</div>

<main-component-collage></main-component-collage>