<div class="layout">
    <div class="bg-white bg-car">
        <div class="d-flex align-items-center justify-content-between p-3 pe-5">
            <h3 class="fw-bold fs-5">Shopping Car</h3>
            <img src="../../../../assets/icons/close-car.svg" alt="Close" class="pointer" (click)="closeShoppingCarOffcanvas()">
        </div>

        <ul class="list-unstyled">
            <li class="d-flex justify-content-around gap-2 mb-4 ">

                <img class="item-image" src="../../../../assets/products/Sofa.png" alt="Sofa">


                <div class="">
                    <h4>Asgaard sofa</h4>
                    <p>1 x <span class="text-primary">Rs. 250,000,00 </span></p>
                </div>
                <img class="pointer" src="../../../../assets/icons/remove-item.svg" alt="Remove">
            </li>
            <li class="d-flex justify-content-around gap-2 ">
                <img class="item-image" src="../../../../assets/products/Sofa.png" alt="Sofa">
                <div>
                    <h4>Asgaard sofa</h4>
                    <p>1 x <span class="text-primary">Rs. 250,000,00 </span></p>
                </div>
                <img class="pointer" src="../../../../assets/icons/remove-item.svg" alt="Remove">
            </li>
        </ul>

        <div class="d-flex justify-content-between align-items-center mt-5 p-5">
            Subtotal

            <span class="text-primary"> Rs. 520,000,000</span>
        </div>

        <div class="border-top  d-flex align-items-center gap-3 p-4">
            <button class="btn rounded-pill border-primary text-primary flex-grow-1" routerLink="cart">Cart</button>
            <button class="btn rounded-pill border-primary text-primary flex-grow-1">Checkout</button>
            <button class="btn rounded-pill border-primary text-primary flex-grow-1" routerLink="comparison">Comparison</button>
        </div>


    </div>
</div>