<div class="bg-secondary">
    <div class="container-fluid">
        <div class="row ms-4 ">
            <h2 class="text-primary fw-bold mt-3">Users</h2>

            <p class="my-1 fs-5 text-ligth-gray">Welcome to your manager panel of Funiro Ecommerce.</p>

            <dashboard-table-users-component [users]="users"></dashboard-table-users-component>

            <div class="d-flex justify-content-end" *ngIf="mustShowAddButton">
                <button class="btn btn-primary text-white fw-bold" (click)="openModalForm()">Add User</button>
            </div>

        </div>
    </div>
</div>