<img class="bg-secondary product-image" src="../../../../assets/products/Sofa.png" alt="Image">

<h3 class="mt-2 fw-bold">Asgaard Sofa</h3>
<span class="mt-2">Rs. 250,000.00</span>
<div class="d-flex flex-nowrap  align-items-center gap-1">
    <span>5</span>
    <div class="d-flex gap-1">
        <img src="../../../../assets/icons/star.svg" alt="Stars">
        <img src="../../../../assets/icons/star.svg" alt="Stars">
        <img src="../../../../assets/icons/star.svg" alt="Stars">
        <img src="../../../../assets/icons/star.svg" alt="Stars">
        <img src="../../../../assets/icons/star.svg" alt="Stars">
    </div>

    <span class="display-6 bar">|</span>
    <span class="fs-6 text-ligth-gray">204 Review</span>
</div>