<table class="table ">
    <thead>
        <tr class="table-primary">
            <th colspan="2" class="text-center">
                Product
            </th>
            <th colspan="2" class="text-center">
                Price
            </th>
            <th colspan="1" class="text-center">
                Quantity
            </th>
            <th colspan="2">
                Subtotal
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let furniture of furnitures;let i =index">
            <tr>
                <td colspan="8" class="py-3"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <img class="bg-secondary img-product" [src]="images_url+'/'+furniture.images[0]" alt="Sofa">
                    <span class="ms-lg-4 mt-3 mt-lg-0 text-ligth-gray d-block text-center d-lg-inline">{{furniture.name | titlecase}}</span>
                </td>
    
                <td colspan="2">
                    <span class="text-ligth-gray   d-block align-center text-center" [ngClass]="{'text-decoration-line-through':furniture?.discount, 'fw-bold fs-5':!furniture?.discount}">
                        {{furniture?.price | currency:'USD':'symbol-narrow':'1.2-2' }}
                    </span>
                    <span class="fw-bold text-ligth-gray  align-center d-block text-center" *ngIf="furniture?.discount">
                        {{furniture!.price - furniture!.discount! | currency:'USD':'symbol-narrow':'1.2-2' }}
                    </span>
                </td>
                <td colspan="1" class="text-center">
                    <input type="number" min="1" [max]="furniture.stock" class="btn border" [value]="quantities[i]" (input)="changeQuantity(+input.value,furniture.id)" #input>
                </td>
                <td colspan="2">
                    <span class="align-center text-ligth-gray me-lg-5  d-block text-center d-lg-inline">Rs. {{quantities[i] * (furniture!.price - furniture!.discount!) | currency:'USD':'symbol-narrow':'1.2-2'}}</span>
                    <img class="pointer text-center mx-5 mx-lg-0 mt-3 mt-lg-0" src="../../../../assets/icons/trash.svg" alt="Delete" (click)="removeFurniture(furniture.id)">
                </td>
            </tr>
            <tr>
                <td colspan="8" class="py-3"></td>
            </tr>
        </ng-container>
        
      
    </tbody>
</table>