<main-component-hero-image [pageName]="'Cart'"></main-component-hero-image>

<div class="container-lg my-5">
    <div class="row">
        <div class="col-lg-9 col-12 table-responsive mb-5 mb-lg-0">
            <table class="table ">
                <thead>
                    <tr class="table-primary">
                        <th colspan="2" class="text-center">
                            Product
                        </th>
                        <th colspan="2" class="text-center">
                            Price
                        </th>
                        <th colspan="1" class="text-center">
                            Quantity
                        </th>
                        <th colspan="2">
                            Subtotal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="py-3"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img class="bg-secondary img-product" src="../../../../assets/products/Sofa.png" alt="Sofa">
                            <span class="ms-lg-4 mt-3 mt-lg-0 text-ligth-gray d-block text-center d-lg-inline">Asgaard sofa</span>
                        </td>

                        <td colspan="2">
                            <span class="align-center text-ligth-gray  d-block text-center d-lg-inline">Rs. 250,000.00</span>
                        </td>
                        <td colspan="1" class="text-center"><input type="number" min="1" value="1" class="btn border">
                        </td>
                        <td colspan="2">
                            <span class="align-center text-ligth-gray me-lg-5  d-block text-center d-lg-inline">Rs. 250,000.00</span>
                            <img class="pointer text-center mx-5 mx-lg-0 mt-3 mt-lg-0" src="../../../../assets/icons/trash.svg" alt="Delete">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" class="py-3"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img class="bg-secondary img-product" src="../../../../assets/products/Sofa.png" alt="Sofa">
                            <span class="ms-lg-4 mt-3 mt-lg-0 text-ligth-gray d-block text-center d-lg-inline">Asgaard sofa</span>
                        </td>

                        <td colspan="2">
                            <span class="align-center text-ligth-gray  d-block text-center d-lg-inline">Rs. 250,000.00</span>
                        </td>
                        <td colspan="1" class="text-center"><input type="number" min="1" value="1" class="btn border">
                        </td>
                        <td colspan="2">
                            <span class="align-center text-ligth-gray me-lg-5  d-block text-center d-lg-inline">Rs. 250,000.00</span>
                            <img class="pointer text-center mx-5 mx-lg-0 mt-3 mt-lg-0" src="../../../../assets/icons/trash.svg" alt="Delete">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-12">
            <div class="bg-secondary w-100 p-4 d-flex flex-column align-items-center">
                <h2 class="fw-bold  mb-4 fs-4">Cart Totals</h2>

                <div class="d-flex gap-3">
                    <span class="fs-small  me-3 fw-bold">Subtotal</span>
                    <span class="fs-small  text-ligth-gray d-inline-block mb-3">Rs. 250,000.00</span>
                </div>


                <div class="d-flex gap-3">
                    <span class="fs-small  me-3 fw-bold">Total</span>
                    <span class="fs-small  text-primary fw-bold">Rs. 250,000.00</span>

                </div>

                <div class=" my-4">
                    <button class="btn border-primary rounded px-4 py-2 text-primary" routerLink="/checkout">Check Out</button>
                </div>


            </div>
        </div>
    </div>
</div>


<main-component-banner-support></main-component-banner-support>