<div class="container-fluid my-5">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-md-5 col">
                <h2 class="text-primary text-center fw-bold my-4">Generate a new password</h2>

                <form [formGroup]="form" class="w-custom mx-auto" (ngSubmit)="generatePassword()" >
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        <span class="input-group-text"><i class="fa-solid fa-lock text-primary"></i></span>
                    </div>

                    <div *ngIf="isValidField('password')">
                        <p *ngFor="let error of getErrorsField('password')" class="form-text text-danger fw-bold mb-2">
                            {{error}}
                        </p>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Repeat the password" formControlName="password2">
                        <span class="input-group-text"><i class="fa-solid fa-lock text-primary"></i></span>
                    </div>

                    <div *ngIf="isValidField('password2') ">
                        <p *ngFor="let error of getErrorsField('password2')"
                            class="form-text fw-bold text-danger text-start my-0">
                            {{error}}</p>
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <button type="submit" class="btn btn-primary  text-white fw-bold py-2 px-4" [disabled]="form.invalid">Create</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>