@use '../../../../../../styles.scss' as *;

.carrousel {
    position: relative;

    &__element {
        height: auto;
        width: 404px;
        position: relative;

        @media(min-width:576px) {
            height: 582px;
        }

        &--secondary {
            height: 482px;
            width: 372px;
            display: none;

            @media(min-width:576px) {
                display: block;
            }
        }

        &--third {
            height: 482px;
            width: 50px;
            display: none;

            @media(min-width:992px) {
                display: block;
            }
        }

    }

    &__image {
        width: 100%;
        height: 100%;

    }

    &__content {
        position: absolute;
        display: flex;
        left: 5%;
        bottom: 3%;
    }


    &__button {
        align-self: flex-end;
    }

    &__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.788);
    }


    &__indicators {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 10px;
        right: 43%;
        bottom: -3%;
        @media(min-width: 992px){
            bottom: 10%;
        }
    }

    &__point {
        background-color: #D8D8D8;
        border-radius: 50%;
        width: 7px;
        height: 7px;

        &--active {
            background-color: $primary;
            position: relative;

        }

        &--active::after {
            border: $primary solid 1px;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            content: '';
            position: absolute;
            right: -68%;
            bottom: -68%;
        }
    }


}