<div class="bg-secondary py-3 ps-md-5 ps-3">
    <div class="d-flex flex-lg-row flex-column justify-content-between">
        <div class="d-flex gap-1 gap-md-4 justify-content-around align-items-center mb-2">

            <div class="d-inline">
                <img src="../../../../assets/icons/filter.svg" alt="Filter">
                <span class="ms-3 d-none d-md-inline">Filter</span>
            </div>

            <img src="../../../../assets/icons/points.svg" alt="Points">

            <img src="../../../../assets/icons/view-list.svg" alt="View-list">

            <span class="display-6 bar">|</span>

            <p class="mb-0">Showing 1-16 of 32 results</p>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center gap-3 justify-content-around gap-md-4  me-md-5">
            <div class="d-inline ">
                <label for="show" >Show</label>
                <input type="number" id="show" min="0" class="ms-3">
            </div>

            <div class="d-flex align-items-center gap-3">
                <label for="sort">Sort by</label>
                <select id="sort" class="ps-4 py-1 pe-5" >
                    <option value="" defaultSelected>Default</option>
                </select>
            </div>
        </div>

    </div>
</div>