<div class="hero-image" [ngClass]="{'shop':pageName==='Shop' || pageName === 'Product Comparison' || pageName ==='Cart' || pageName === 'Checkout', 'about':pageName==='About', 'contact':pageName === 'Contact' || pageName === 'Your order', }">

    <div class=" d-flex flex-column align-items-center justify-content-center layout">
        <h1 class="fw-bold">{{pageName}}</h1>
        <p><span class="fw-bold">Home ></span> {{pageName==='Product Comparison'?'Comparison':pageName}}</p>
    </div>
    


</div>