<div class="hero-image header-image">

    <div class="container-fluid h-100 d-flex justify-content-center justify-content-lg-end">
        <div class="square pt-4 pb-2 px-4 d-flex  flex-column align-items-lg-start align-items-center justify-content-center">
            <span class="new-arrival">New Arrival</span>
            <h2 class="text-primary square__title">Discover Our New Collection</h2>
            <span class="square__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                mattis.</span>
            <button class="btn btn-primary text-white fw-bold py-3 px-5 mt-5" routerLink="/shop">Buy Now</button>
        </div>
    </div>

</div>