<main-component-hero-image [pageName]="'Product Comparison'"></main-component-hero-image>

<div class="container-lg my-5 ">
    <div class="scroll-x">
        <div class="max-width">
            <div class="row ">
                <div class="col-3">
                    <h2 class="fw-bold">
                        Go to Product page for more
                        Products
                    </h2>

                    <a routerLink="shop" class="text-ligth-gray fw-bold mt-5">View More</a>
                </div>
                <div class="col-3" *ngFor="let furniture  of furnituresToCompare">
                    <product-comparison-component-product-card *ngIf="furniture" [furniture]="furniture"></product-comparison-component-product-card>
                    <product-comparison-add-product *ngIf="!furniture" ></product-comparison-add-product>
                </div>
              
            </div>

            <div class="row mt-5">

                <div class="col-12  pt-3 mb-4">
                    <h2 class="fw-bold">General</h2>
                </div>


                <ul class="col-3 list-unstyled border-end text-left">
                    <li class="mb-3">Sales Package</li>
                    <li class="mb-3">Model Number</li>
                    <li class="mb-3">Secondary Material</li>
                    <li class="mb-3">upholstery Material</li>
                </ul>
                <div class="col-3" *ngFor="let furniture of furnituresToCompare">
                    <product-comparison-component-general-description *ngIf="furniture" [furniture]="furniture"></product-comparison-component-general-description>
                    <ul class="col-3 border-end" *ngIf="!furniture"></ul>
                </div>


            </div>

            <div class="row ">

                <div class="col-12  pt-3 mb-4">
                    <h2 class="fw-bold">Product</h2>
                </div>


                <ul class="col-3 list-unstyled border-end text-left">
                    <li class="mb-3">Filling Material</li>
                    <li class="mb-3">Adjustable Headrest</li>
                    <li class="mb-3">Maximum Load Capacity</li>
                    <li class="mb-3">Origin of Manufacture:</li>
                </ul>
                <div class="col-3" *ngFor="let furniture of furnituresToCompare">
                    <product-comparison-component-product-description *ngIf="furniture" [furniture]="furniture"></product-comparison-component-product-description>
                    <ul class="col-3 border-end" *ngIf="!furniture"></ul>
                </div>


            </div>

            <div class="row">
                <div class="col-12  pt-3 mb-4">
                    <h2 class="fw-bold">Dimensions</h2>
                </div>


                <ul class="col-3 list-unstyled border-end text-left">
                    <li class="mb-3">Height</li>
                    <li class="mb-3">Width</li>
                    <li class="mb-3">Depth</li>
                    <li class="mb-3">Weight</li>
                </ul>

                <div class="col-3" *ngFor="let furniture of furnituresToCompare">
                    <product-comparison-component-product-dimensions *ngIf="furniture" [furniture]="furniture"></product-comparison-component-product-dimensions>
                     <ul class="col-3 border-end" *ngIf="!furniture"></ul>
                </div>

            </div>

            <div class="row">

                <div class="col-12  pt-3 mb-4">
                    <h2 class="fw-bold">Warranty</h2>
                </div>


                <ul class="col-3 list-unstyled border-end text-left">
                    <li class="mb-3">Warranty Summary</li>
                    <li class="mb-3">Domestic Warranty:</li>

                </ul>

                <div class="col-3" *ngFor="let furniture of furnituresToCompare">
                    <product-comparison-component-product-warranty *ngIf="furniture" [furniture]="furniture"></product-comparison-component-product-warranty>
                    <ul class="col-3 border-end" *ngIf="!furniture"></ul>
                </div>

            </div>

            <div class="row mb-5 mb-lg-0">

                <div class="col-3"></div>


                <div class="col-3 text-center" *ngFor="let furniture of furnituresToCompare">
                    <product-comparison-component-add-cart *ngIf="furniture" [furniture]="furniture"></product-comparison-component-add-cart>
                    <div class="col-3" *ngIf="!furniture"></div>
                </div>
            
            </div>
        </div>

    </div>


</div>

<main-component-banner-support></main-component-banner-support>