<main-component-hero-image [pageName]="'Product Comparison'"></main-component-hero-image>

<div class="container-lg my-5">
    <div class="row">
        <div class="col-3">
            <h2 class="fw-bold">
                Go to Product page for more
                Products
            </h2>


            <a routerLink="shop" class="text-ligth-gray fw-bold mt-5">View More</a>
        </div>
        <div class="col-3">

            <img class="bg-secondary product-image" src="../../../../assets/products/Sofa.png" alt="Image">

            <h3 class="mt-2 fw-bold">Asgaard Sofa</h3>
            <span class="mt-2">Rs. 250,000.00</span>
            <div class="d-flex flex-nowrap  align-items-center gap-1">
                <span>5</span>
                <div class="d-flex gap-1">
                    <img src="../../../../assets/icons/star.svg" alt="Stars">
                    <img src="../../../../assets/icons/star.svg" alt="Stars">
                    <img src="../../../../assets/icons/star.svg" alt="Stars">
                    <img src="../../../../assets/icons/star.svg" alt="Stars">
                    <img src="../../../../assets/icons/star.svg" alt="Stars">
                </div>

                <span class="display-6 bar">|</span>
                <span class="fs-6 text-ligth-gray">204 Review</span>
            </div>

        </div>
        <div class="col-3">
            <img class="bg-secondary product-image" src="../../../../assets/products/Sofa.png" alt="Image">
            <h3 class="mt-2 fw-bold">Outdoor Sofa Set</h3>
            <span class="mt-2">Rs. 220,000.00</span>
            <div class="d-flex flex-nowrap  align-items-center gap-1">
                <span>4.2</span>
                <div class="d-flex gap-1">
                    <img src="../../../../assets/icons/star.svg" alt="Stars">
                    <img src="../../../../assets/icons/star.svg" alt="Stars">
                    <img src="../../../../assets/icons/star.svg" alt="Stars">
                    <img src="../../../../assets/icons/star.svg" alt="Stars">
                </div>
                <span class="display-6 bar">|</span>
                <span class="text-ligth-gray fs-6">145 Review</span>
            </div>

        </div>
        <div class="col-3">
            <h2 class="fw-bold mb-2 mt-5 ">Add A Product</h2>
            <button class="btn btn-primary py-2 ps-2  text-white" routerLink="shop">Choose a Product<img
                    class="ms-5 d-inline-block " src="../../../../assets/icons/compare.svg"></button>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-12 border-top pt-3 mb-4">
            <h2 class="fw-bold">General</h2>
        </div>


        <ul class="col-3 list-unstyled border-end text-left">
            <li class="mb-3">Sales Package</li>
            <li class="mb-3">Model Number</li>
            <li class="mb-3">Secondary Material</li>
            <li class="mb-3">Upholstery Material</li>
        </ul>
        <ul class="col-3 list-unstyled border-end text-center">
            <li class="mb-3">1 sectional sofa</li>
            <li class="mb-3">TFCBLIGRBL6SRHS</li>
            <li class="mb-3">Solid Wood</li>
            <li class="mb-3">Fabric + Cotton</li>

        </ul>
        <ul class="col-3 list-unstyled border-end text-center">
            <li class="mb-3">1 sectional sofa</li>
            <li class="mb-3">TFCBLIGRBL6SRHS</li>
            <li class="mb-3">Solid Wood</li>
            <li class="mb-3">Fabric + Cotton</li>

        </ul>
        
        <ul class="col-3 border-end">


        </ul>

        <div class="col-12  pt-3 mb-4">
            <h2 class="fw-bold">Product</h2>
        </div>


        <ul class="col-3 list-unstyled border-end text-left">
            <li class="mb-3">Filling Material</li>
            <li class="mb-3">Adjustable Headrest</li>
            <li class="mb-3">Maximum Load Capacity</li>
            <li class="mb-3">Origin of Manufacture:</li>
        </ul>
        <ul class="col-3 list-unstyled border-end text-center">
            <li class="mb-3">Foam</li>
            <li class="mb-3">No</li>
            <li class="mb-3">280kg</li>
            <li class="mb-3">India</li>

        </ul>
        <ul class="col-3 list-unstyled border-end text-center">
            <li class="mb-3">1 sectional sofa</li>
            <li class="mb-3">TFCBLIGRBL6SRHS</li>
            <li class="mb-3">Solid Wood</li>
            <li class="mb-3">Fabric + Cotton</li>

        </ul>

        <ul class="col-3 border-end">


        </ul>

        <div class="col-12  pt-3 mb-4">
            <h2 class="fw-bold">Dimensions</h2>
        </div>


        <ul class="col-3 list-unstyled border-end text-left">
            <li class="mb-3">Height</li>
            <li class="mb-3">Width</li>
            <li class="mb-3">Depth</li>
            <li class="mb-3">Weight</li>
        </ul>
        <ul class="col-3 list-unstyled border-end text-center">
            <li class="mb-3">76cm</li>
            <li class="mb-3">265.32cm</li>
            <li class="mb-3">167.76cm</li>
            <li class="mb-3">45kg</li>

        </ul>
        <ul class="col-3 list-unstyled border-end text-center">
            <li class="mb-3">76cm</li>
            <li class="mb-3">265.32cm</li>
            <li class="mb-3">167.76cm</li>
            <li class="mb-3">45kg</li>

        </ul>
        
        <ul class="col-3 border-end">


        </ul>

        <div class="col-12  pt-3 mb-4">
            <h2 class="fw-bold">Warranty</h2>
        </div>


        <ul class="col-3 list-unstyled border-end text-left">
            <li class="mb-3">Warranty Summary</li>
            <li class="mb-3">Domestic Warranty:</li>
          
        </ul>
        <ul class="col-3 list-unstyled border-end text-center">
            <li class="mb-3">1 Year Manufacturing Warranty</li>
            <li class="mb-3">1 Year</li>


        </ul>
        <ul class="col-3 list-unstyled border-end text-center">
            <li class="mb-3">1 Year Manufacturing Warranty</li>
            <li class="mb-3">1 Year</li>


        </ul>
        
        <ul class="col-3 border-end">


        </ul>

        <div class="col-3"></div>

        <div class="col-3 text-center">
            <button class="btn btn-primary text-white px-4 py-2">Add To Cart</button>
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-primary text-white px-4 py-2">Add To Cart</button>
        </div>
        <div class="col-3"></div>




    </div>
</div>

<main-component-banner-support></main-component-banner-support>