<div class="modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-y modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center gap-3">
                    <div class="bg-primary rounded-5">
                        <i class="fa-solid fa-user text-secondary" *ngIf="typeOfModal==='login'"></i>
                        <i class="fa-regular fa-envelope text-secondary" *ngIf="typeOfModal==='recover'"></i>
                    </div>
                    <p class="text-primary fw-bold fs-3" *ngIf="typeOfModal!== 'loggedIn'">{{typeOfModal ==='login'?'Login':'Recover Password'}}</p>
                </div>

                <form [formGroup]="form" (ngSubmit)="submitRequest()">

                    <div class="input-group mb-3" *ngIf="typeOfModal !=='loggedIn' ">
                        <input type="text" class="form-control" placeholder="Email">
                        <span class="input-group-text"><i class="fa-solid fa-envelope text-primary"></i></span>
                    </div>

                    <div class="input-group mb-3" *ngIf="typeOfModal==='login'">
                        <input type="text" class="form-control" placeholder="Password">
                        <span class="input-group-text"><i class="fa-solid fa-lock text-primary"></i></span>
                    </div>

                    <div class="text-center" *ngIf="typeOfModal!=='loggedIn'">
                        <button type="submit" class="btn btn-primary px-4 py-2 w-75 fw-bold text-white">{{ typeOfModal === 'login'?'Enter':'Send'}}</button>
                        <p class="text-primary fw-bold mt-3 text-underline pointer" (click)="changeTypeOfModal()" >{{typeOfModal === 'login'?'Recover password':'Do you have already an account?'}}</p>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>