<div class="container-md my-5">
    <div class="row">
        <div class="col-md-6 col-12">
            <img src="../../../../assets/products/Sofa.png" alt="Sofa" class="bg-secondary img-fluid">
        </div>
        <div class="col-md-6 col-12 mt-2">
            <div class="d-flex flex-column">
                <h1>Asgaard Sofa</h1>
                <p class="text-gray">Rs 250,000.00</p>
                <div class="d-flex">
                    <div class="d-flex align-items-center gap-3">
                        <div class="">
                            <img src="../../../../assets/icons/star.svg" alt="start">
                            <img src="../../../../assets/icons/star.svg" alt="start">
                            <img src="../../../../assets/icons/star.svg" alt="start">
                            <img src="../../../../assets/icons/star.svg" alt="start">
                            <img src="../../../../assets/icons/star.svg" alt="start">
                        </div>
                        <span class="display-6 bar">|</span>
                        <span class="text-gray">5 Customer Review</span>
                    </div>
                </div>

                <p>Setting the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted
                    hero with a well-balanced audio which boasts a clear midrange and extended highs for a sound.
                </p>

                <span>Size</span>

                <div class="d-flex align-items-center gap-3 my-3">
                    <button class="btn btn-primary text-white">L</button>
                    <button class="btn btn-secondary">XL</button>
                    <button class="btn btn-secondary">XS</button>
                </div>

                <div class="mt-3 mt-md-0 d-flex flex-wrap align-items-center justify-content-between gap-md-4 gap-3 border-bottom pb-5 ">
                    <div class="group-input p-1">
                        <button class="pointer">-</button>
                        <input type="number" min="0">
                        <button class="pointer">+</button>
                    </div>

                    <button class="btn btn-outline-primary flex-grow-1">Add to Cart</button>
                    <button class="btn btn-outline-primary flex-grow-1">Compare</button>
                </div>

                <ul class="list-unstyled mt-3">
                    <li class="my-2" >SKU : <span class="ms-2">SS01</span>SS01</li>
                    <li class="my-2"> Category : <span class="ms-2"> Sofas</span> </li>
                    <li class="my-2">Tags : <span class="ms-2">Sofa,Chair,Home,Shop</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>