<div class="container-md my-5">
    <div class="row">
        <div class="col-md-6 col-12">
            <img [src]="url_images+'/'+furniture!.images[0]" alt="Sofa" class="bg-secondary img-fluid">
        </div>
        <div class="col-md-6 col-12 mt-2">
            <div class="d-flex flex-column">

                <div class="d-flex gap-2 align-items-center">
                    <h1>{{furniture?.name | titlecase}}</h1>
                    <div class="bg-dark  rounded-pill text-white p-2" *ngIf="furniture!.stock ===0">
                        Sold Out
                    </div>
                </div>



                <p class="fw-bold fs-5 mb-1" *ngIf="furniture?.discount">{{furniture!.price - furniture!.discount! |
                    currency:'USD':'symbol-narrow':'1.2-2' }}</p>
                <p class="mb-1"
                    [ngClass]="{'text-decoration-line-through':furniture?.discount, 'fw-bold fs-5':!furniture?.discount}">
                    {{furniture?.price | currency:'USD':'symbol-narrow':'1.2-2' }}</p>
                <div class="d-flex">
                    <div class="d-flex align-items-center gap-3">
                        <div class="">
                            <img src="../../../../assets/icons/star.svg" alt="start" *ngFor="let start of stars">
                            <img src="../../../../assets/icons/half-star.svg" alt="start" *ngIf="mustShowHalfStar">

                        </div>
                        <span class="display-6 bar">|</span>
                        <span class="text-gray">{{total_furnitures}} Customer Review</span>
                    </div>
                </div>

                <p> {{furniture!.description!.length >120 ? furniture!.description!.substring(0,120)+
                    '...':furniture?.description }}</p>

                <div
                    class="mt-3 mt-md-0 d-flex flex-wrap align-items-center justify-content-between gap-md-4 gap-3 border-bottom pb-5 ">
                    <div class="group-input p-1">
                        <button class="pointer" (click)="changeNumberInput(-1)">-</button>
                        <input type="number" min="1" [max]="furniture!.stock" [(ngModel)]="inputValue" #input>
                        <button class="pointer" (click)="changeNumberInput(1)">+</button>
                    </div>

                    <button class="btn btn-outline-primary flex-grow-1" (click)="addFurnitureToCart()" [class.no-pointer]="furniture!.stock===0" [disabled]="furniture!.stock===0">Add to
                        Cart</button>
                    <button class="btn btn-outline-primary flex-grow-1"
                        (click)="addToComparisonOption()">Compare</button>
                </div>

                <ul class="list-unstyled mt-3">
                    <li class="my-2">SKU : <span class="ms-2">SS01</span>SS01</li>
                    <li class="my-2"> Category : <span class="ms-2"> Sofas</span> </li>
                    <li class="my-2">Tags : <span class="ms-2">Sofa,Chair,Home,Shop</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>