<product-component-breadcrumb> </product-component-breadcrumb>

<product-component-product-card></product-component-product-card>

<product-component-product-information></product-component-product-information>

<div class="container-md border-top pt-5">
    <h2 class="fw-bold mb-0 text-center">Related Products</h2>
    <main-component-our-products> </main-component-our-products>

    <div class="text-center">
        <button routerLink="/shop" class="btn border-primary px-5 py-2 mt-3  mb-5 text-primary fw-bold">Show More</button>
    </div>
    
</div>