<form class="mt-4 mb-3">
    <label for="zip-code" class="mb-3">Zip Code</label>
    <input type="text" id="zip-code" class="py-4 px-2  w-100 mb-3">

    <label for="company" class="mt-4 mb-3">Country</label>
    <select id="company" class="py-4 px-2  w-100 mb-3">
        <option value="" selected>Select a Country</option>
        <option value="Mexico">Mexico</option>
        <option value="USA">Usa</option>
        <option value="Colombia">Colombia</option>
    </select>

    <label for="city" class="mt-4 mb-3">Town / City</label>
    <input type="text" id="city" class="py-4 px-2  w-100 mb-3" disabled>

    <label for="province" class="mt-4 mb-3">Province</label>
    <input type="text" id="province" class="py-4 px-2  w-100 mb-3" disabled>

    <label for="street" class="mt-4 mb-3">Street address</label>
    <input type="text" id="street" class="py-4 px-2  w-100">
</form>