label[for="all"] {
    color: #B88E2F;
}


input[id="all"] {
    accent-color: #B88E2F;
}

label[for="confirm"] {
    color: rgb(255, 193, 7);
}


input[id="confirm"] {
    accent-color: rgb(255, 193, 7);
}

label[for="on way"] {
    color: rgb(13, 202, 240);
}

input[id="on way"]{
    accent-color: rgb(13, 202, 240);
}

label[for="complete"] {
    color: rgb(46, 193, 172);
}

input[id="complete"] {
    accent-color: rgb(46, 193, 172);
}


label[for="rejected"] {
    color: rgb(233, 113, 113);
}

input[id="rejected"] {
    accent-color: rgb(233, 113, 113);
}