<div class="d-flex justify-content-center align-items-center gap-3 p-4">
    <div class=" d-flex gap-2">
        <label for="confirm">Confirm</label>
        <input type="radio" name="filter" id="confirm" (click)="onEmitStatus.emit('confirm')">
    </div>
    <div class=" d-flex gap-2">
        <label for="on way">On Way</label>
        <input type="radio" name="filter" id="on way" (click)="onEmitStatus.emit('on_way')">
    </div>
    <div class=" d-flex gap-2">
        <label for="complete">Complete</label>
        <input type="radio" name="filter" id="complete" (click)="onEmitStatus.emit('complete')">
    </div>
    <div class=" d-flex gap-2">
        <label for="rejected">Rejected</label>
        <input type="radio" name="filter" id="rejected" (click)="onEmitStatus.emit('rejected')">
    </div>
</div>