<nav class="navbar flex-md-row flex-column justify-content-center gap-md-5 gap-3 mb-4  border-top pt-5">
    <a class="text-decoration-none pointer text-gray" [ngClass]="{'text-black fw-bold':selectedOption==='description'}"
        (click)="navigateToOption('description')">Description</a>
    <a class="text-decoration-none pointer text-gray"
        [ngClass]="{'text-black fw-bold':selectedOption==='additional information'}"
        (click)="navigateToOption('additional information')">Additional Information</a>
    <a class="text-decoration-none pointer text-gray" [ngClass]="{'text-black fw-bold':selectedOption==='reviews'}"
        (click)="navigateToOption('reviews')">Reviews [{{reviews.length}}]</a>
</nav>

<div class="container-lg" *ngIf="selectedOption === 'description'">


    <div class="row justify-content-center">
        <div class="col-10">
            <p class="text-gray">
                {{furniture?.description}}
            </p>
        </div>
    </div>

    <div class="mt-4 mb-5 d-flex flex-column flex-md-row align-items-start gap-5 justify-content-between">
        <div *ngFor="let image of furniture?.images | slice:1:2">
            <img class="img-fluid bg-secondary" width="500" height="500" [src]="url_images+'/'+image" alt="Sofa">
        </div>


    </div>

</div>

<div class="container-md my-4" *ngIf="selectedOption==='additional information'">
    <div class="row g-5">
        <div class="col-md-6 col-12">
            <h3 class="fw-bold mb-1 fs-6 text-center text-md-start">General</h3>
            <ul class="list-unstyled list-group list-group-flush py-2 px-4">
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Sales Package</span>: {{furniture?.sales_package}}
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Model Number</span>: {{furniture?.model_number}}
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Secondary Material</span>: {{furniture?.secondary_material}}
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Upholstery Material</span>: {{furniture?.upholstery_material}}
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Upholstery Color</span>: {{furniture?.upholstery_color}}
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-12">
            <h3 class="fw-bold mb-1 fs-6 text-center text-md-start">Dimensions</h3>
            <ul class="list-unstyled list-group list-group-flush py-2 px-4">
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Height</span>: {{furniture?.height}}cm
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Width</span>: {{furniture?.width}}cm
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Depth</span>: {{furniture?.depth}}cm
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Weight</span>: {{furniture?.weight}}kg
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-12">
            <h3 class="fw-bold mb-1 fs-6 text-center text-md-start">Product</h3>
            <ul class="list-unstyled list-group list-group-flush px-4 py-2">
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Filling Material</span>: {{furniture?.filling_material}}
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Adjustable Headrest</span>: {{furniture?.has_adjustable_headrest || false |
                    yesOrNo }}
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Maximum Load Capacity</span>: {{furniture?.max_load}}kg
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Origin of Manufacture</span>: {{furniture?.origin}}
                </li>
            </ul>

        </div>
        <div class="col-md-6 col-12">
            <h3 class="fw-bold mb-1 fs-6 text-center text-md-start">Warranty</h3>
            <ul class="list-unstyled list-group list-group-flush px-4 py-2">
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Warranty Summary</span>: {{furniture?.warranty_general}} Year Manufacturing
                    Warranty
                </li>
                <li class="list-group-item text-gray">
                    <span class="fw-bold">Domestic Warranty</span>: {{furniture?.warranty_domestic}} Year
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="container-md my-5" *ngIf="selectedOption==='reviews'">
    <div class="row">

        <div class="col-12" *ngFor="let review of reviews">
            <div class="d-flex align-items-center justify-content-between mb-2">
                <span class="fw-bold text-gray">{{review.customer.first_name+' '+ review.customer.last_name}}</span>
                <div class="d-flex align-items-center justify-content-center gap-1">
                    <img src="../../../../assets/icons/star.svg" alt="Star" *ngFor="let start of stars">
                </div>

            </div>
            <p class="text-gray">
                {{review.comment}}
            </p>

            <div class="d-flex flex-wrap gap-3">
                <img width="250px" height="250px" src="../../../../assets/products/Sofa.png" alt="Product">

            </div>
        </div>

    </div>
</div>