<div class="bg-secondary py-5 px-2">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="d-flex justify-content-center gap-3  align-items-start">
                    <img src="../../../../assets/icons/trophy.svg" alt="Icono">
                    <div>
                        <span class="fw-bold d-block text-main">High Quality</span>
                        <span class="text-alternative">crafted from top materials</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="d-flex justify-content-center gap-3 align-items-start">
                    <img src="../../../../assets/icons/check.svg" alt="Icono">
                    <div>
                        <span class="fw-bold d-block text-main">Warranty Protection</span>
                        <span class="text-alternative">Over 2 years</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="d-flex justify-content-center gap-3 align-items-start">
                    <img src="../../../../assets/icons/shipping.svg" alt="Icono">
                    <div class="">
                        <span class="fw-bold d-block text-main">Free Shipping</span>
                        <span class="text-alternative">Order over 150 $</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">

                <div class="d-flex justify-content-center gap-3 align-items-start">
                    <img src="../../../../assets/icons/customer-support.svg" alt="Icono">

                    <div class="">
                        <span class="fw-bold d-block text-main">24 / 7 Support</span>
                        <span class="text-alternative">Dedicated support</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>