.bg-gray {
    background-color: #F4F5F7;
}

img {
    width: -webkit-fill-available;
}

.circle {
    position: absolute;
    top: 5%;
    border-radius: 50%;
    font-size: 16px;
}

.circle--right {
    right: 8%;

}

.circle--left {
    left: 8%;

}