<div class="px-5 py-3 mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <p class="fw-bold fs-4 mb-5 ">Funiro.</p>

                <p class="text-ligth-gray address">
                    400 University Drive Suite 200 Coral
                    <span class="d-block">Gables,</span>
                    <span>FL 33134 USA</span>
                </p>
            </div>
            <div class="col-2">
                <p class="text-ligth-gray mb-5">Links</p>

                <ul class="list-unstyled">
                    <li class="mb-4" routerLink="/home">Home</li>
                    <li class="mb-4" routerLink="/shop">Shop</li>
                    <li class="mb-4" routerLink="/about">About</li>
                    <li class="mb-4" routerLink="/contact">Contact</li>
                </ul>
            </div>
            <div class="col-2">
                <p class="text-ligth-gray mb-5">Help</p>

                <ul class="list-unstyled">
                    <li class="mb-4" routerLink="/home">Payment Options</li>
                    <li class="mb-4" routerLink="/shop">Returns</li>
                    <li class="mb-4" routerLink="/about">Privacy Policies</li>
                </ul>
            </div>
            <div class="col-4">
                <p class="text-ligth-gray mb-5">Newsletter</p>

                <div class="d-flex gap-3">
                    <input type="search"  placeholder="Enter Your Email Address">
                    <button type="submit" class="text-uppercase fw-bold">Subscribe</button>
                </div>
            </div>
        </div>

        <div class="row border-top">
            <p class="mt-3">{{year}} furino. All Rights Reserved</p>
        </div>
    </div>
</div>